
<h1>Counter</h1>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn" @onclick="(()=>
                              {
                                  dialog.Show();
                              })">Show Dialog</button>
<DialogComponent @ref="dialog"></DialogComponent>

@code {

    private DialogComponent dialog;

    [Parameter]
    public EventCallback<int> SetCurrentCount { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        SetCurrentCount.InvokeAsync(currentCount);
    }
}
