@page "/renderComponent"

<h3>RenderFragment</h3>

<FieldComponent Label="Name">
    <Control><input type="text"  placeholder="Enter Your Name"/></Control>
</FieldComponent>

<FieldComponent Label="Title">
    <Control><input type="text" placeholder="Enter Title" /></Control>
</FieldComponent>

<FieldComponent Label="Description">
    <Control><input type="text" placeholder="Enter Description" /></Control>
</FieldComponent>



@code {

}
